@import "tailwindcss";


.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.component-render-div {
  max-width: 100%;
}

@media (min-width: 768px) {
  .component-render-div {
    max-width: calc(100% - 256px);
  }
}